.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 8px 10px;
    margin-bottom: 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.navlink {
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navlink.active {
    color: #FFFFFF;
    background-color: #9c27b0;
}

.navlink.active:hover {
    background-color: #9c27b0;
}

.navlink:hover:not(.active) {
    background-color: #FFFFFF;
    color: #9c27b0;
    outline: solid rgba(156, 39, 176, 0.5);
}